<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:Olisamarvis@gmail.com">Olisamarvis@gmail.com</a>
        *@
        <custom-email my-email="olisamarvis@gmail.com"></custom-email>
    </div>
</footer>
