
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
    <p>This is the home page of our book store applications</p>

    <img src = "~/images/logo.png" class="logo" alt="logo" />

   @*To use static files outside the root folder*@
   <img src="~/MyStaticFiles/logo2" class="logo2" alt="logo2"/>
   
    <h1>This is the home of our book store application</h1>
</body>
</html>
